body {
  background: url(candles.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: black;
}

#text {
  text-align: center;
  color: white;
}

h1 {
  font-size: 5em;
}
